In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('lyric_df.csv', index_col=0)

In [12]:
df.shape

(176, 3)

In [ ]:
df.rename(columns=['Artist Name': ''])

In [4]:
rnrhof = pd.read_csv('rnrhof.csv', index_col=0)

In [5]:
rnrhof.head()

   Induction Year         Name Inducted Members       Inducted By
0            1986  Chuck Berry              NaN  Keith Richards
1            1986  James Brown              NaN   Steve Winwood
2            1986  Ray Charles              NaN    Quincy Jones
3            1986    Sam Cooke              NaN     Herb Alpert
4            1986  Fats Domino              NaN      Billy Joel

In [6]:
rnrhof['Inducted Members'] = rnrhof['Inducted Members'].str.lower()
rnrhof['Name'] = rnrhof['Name'].str.lower()
rnrhof['Inducted By'] = rnrhof['Inducted By'].str.lower()

In [7]:
rnrhof.head()

   Induction Year         Name Inducted Members       Inducted By
0            1986  chuck berry              NaN  keith richards
1            1986  james brown              NaN   steve winwood
2            1986  ray charles              NaN    quincy jones
3            1986    sam cooke              NaN     herb alpert
4            1986  fats domino              NaN      billy joel

In [13]:
rnrhof.to_csv('rnrhof2.csv')

In [11]:
rnrhof.shape

(239, 4)

In [8]:
lyrics = pd.read_csv('lyric_df2.csv', index_col=0)

In [14]:
lyrics.head()

,artistname,songtitle,Lyrics
0,kirk franklin,outro (the blood),you have the power to make the seasons change ...
1,elvis presley,i feel so bad,feel so bad like a ball game on a rainy day fe...
2,roy orbison,ooby dooby,"hey baby, jump over here when you do the ooby-..."
3,roy orbison,go! go! go!,"(ellis/orbison) roy orbison (sun 242, 1956) we..."
4,johnny cash,get rhythm,"hey, get rhythm! when you get the blues! c'mon..."

In [13]:
df.head()

,Artist Name,Song Title,Lyrics
0,kirk franklin,outro (the blood),you have the power to make the seasons change ...
1,elvis presley,i feel so bad,feel so bad like a ball game on a rainy day fe...
2,roy orbison,ooby dooby,"hey baby, jump over here when you do the ooby-..."
3,roy orbison,go! go! go!,"(ellis/orbison) roy orbison (sun 242, 1956) we..."
4,johnny cash,get rhythm,"hey, get rhythm! when you get the blues! c'mon..."